/*## MEDIA QUIERIES ##*/

@media screen and (min-width: 480px) and (max-width: 720px) {
    .div-list {
        flex-direction: column;
    }

    .div-border {
        display: none;
    }
}

@media screen and (min-width: 300px) and (max-width: 479px) {
    .nav-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .navbar-brand {
        width: 200px;
    }
    
    .card {
        width: 18rem;
        margin: 10px;
    }
    
    .ul-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .main-wtp {
        height: 60px;
        position: fixed;
        left: 70%;
        top: 80%;
        transition: height 1s;
        z-index: 50; }
    
    .div-p-footer, p {
        text-align: center;
    }
    
    .ul-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .div-title {
        font-size: 18px;
    }
    
    .h1-subtitle {
        font-size: 18px;
    }
    
    .div-border {
        display: none;
    }

    .div-list {
        flex-direction: column;
    }
    .banner-mtb{
        .banner-description {
            .h1-banner {
                font-size: 20px;
            }
        }
    }
}