/*### PAGINA HORARIOS ###*/
.section-contact{
    margin: 80px 20px 80px 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    .div-iframe{
        iframe{
            width: 600px;
            height: 450px;
        }
    }
    // .section-contact{
    //     width: 45%;
    // }
}
.table-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 45%;
}